@model HYE_SocialNetwork.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Answered";
}

<h2>@HttpContext.Current.User.Identity.Name's Profile</h2>&nbsp;
    <h3>Answered Questions</h3>

<hr />
<div class="row">

    @foreach (var hyeQuestion in Model.NewQuestions)
    {
        <div class="col-md-4 qContainer">
            <ul class="questions">
                <li>
                    <div class="details">
                        <span class="inquirer">
                            @hyeQuestion.Inquirer.DisplayName

                            @if (Model.ShowActions)
                            {
                                <button class="btn btn-sm btn-link js-toggle-friend" data-user-id="@hyeQuestion.Inquirer">Add Friend</button>
                            }

                        </span>
                        <span>
                            @hyeQuestion.Question
                        </span>
                        <br /><br />

                        @if (Model.ShowActions)
                        {
                            <button data-hyeQuestionId-id="@hyeQuestion.Id" class="btn btn-default btn-sm js-toggle-no">No</button>
                        }
                        &nbsp;
                        @if (Model.ShowActions)
                        {
                            <button data-hyeQuestionId-id="@hyeQuestion.Id" class="btn btn-default btn-sm js-toggle-answer">Yes</button>
                        }

                        <hr />
                    </div>
                </li>
            </ul>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-answer").click(function(e) {
                var button = $(e.target);
                $.post("/api/HYEAnswers", { HYEQuestionId: button.attr("data-hyeQuestionId-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-success");
                })
                .fail(function () {
                    alert("Something went wrong! Please choose another question to answer.");
                });
            });


        $(".js-toggle-no").click(function (e) {
            var button = $(e.target);
            $.post("/api/HYEAnswers", { HYEQuestionId: button.attr("data-hyeQuestionId-id") })
            .done(function () {
                button
                    .removeClass("btn-default")
                    .addClass("btn-info");
            })
            .fail(function () {
                alert("Something went wrong!");
            });
        });


            $(".js-toggle-friend").click(function (e) {
                var button = $(e.target);
                $.post("/api/Friendships", { RequesteeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Friends");
                        })
                        .fail(function () {
                            alert("Oops, something went wrong!");
                        })
                    });
        });
    </script>
}
