@model HYE_SocialNetwork.ViewModels.AllUsersViewModel
@{
    ViewBag.Title = "AllUsers";
}

<h2>H.Y.E. Users</h2>
<hr />

<p>@Html.ActionLink("Users I Follow", "ViewFollowees", "Home")</p>
<p>@Html.ActionLink("My Followers", "ViewFollowers", "Home")</p>

@foreach(var hyeUser in Model.HYEUsers)
{
    <div class="profileContainer">
    <p>
       Name: @hyeUser.DisplayName
    </p>
    <p>
        Email: @hyeUser.Email

    </p>
    <p>
        Gender: @hyeUser.Gender
    </p>
    <p>
        Birthday: @hyeUser.Birthdate
    </p>
        </div>
}

