@model HYE_SocialNetwork.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>While you were away...</h2>
<div class="row">
    @foreach (var hyeQuestion in Model.NewQuestions)
    {
        <div class="col-md-6 qContainer">
            <ul class="questions">
                <li>
                    <div class="details">
                        <span class="inquirer">
                            @hyeQuestion.Inquirer.DisplayName 
                            
                            @if (Model.ShowActions)
                            {
                                <button class="btn btn-sm btn-link js-toggle-follow" data-hyeQuestionInquirerId-id="@hyeQuestion.InquirerId">Add Friend</button>
                            }
                            
                        </span>
                        <span class="spotlightText">
                            @hyeQuestion.Question
                        </span>
                        <br /><br />

                        @if (Model.ShowActions)
                        {
                            <button data-hyeQuestionId-id="@hyeQuestion.Id" class="btn btn-default btn-sm js-toggle-no">No</button>
                        }
                        &nbsp;
                        @if (Model.ShowActions)
                        {
                            <button data-hyeQuestionId-id="@hyeQuestion.Id" class="btn btn-default btn-sm js-toggle-answer">Yes</button>
                        }
                         <br /><br />
                    </div>
                </li>
                
            </ul>
        </div>
        <hr />
        }
</div>
<br /><br />

@section scripts
{
    <script>
        $(document).ready(function () {
            
            $(".js-toggle-answer").click(function(e) {
                var button = $(e.target);
                $.post("/api/HYEAnswers", { HYEQuestionId: button.attr("data-hyeQuestionId-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-success");
                })
                .fail(function () {
                    alert("Something went wrong! Please choose another question to answer.");
                });
            });
        

        $(".js-toggle-no").click(function (e) {
            var button = $(e.target);
            $.post("/api/HYEAnswers", { HYEQuestionId: button.attr("data-hyeQuestionId-id") })
            .done(function () {
                button
                    .removeClass("btn-default")
                    .addClass("btn-info");
            })
            .fail(function () {
                alert("Something went wrong!");
            });
        });
            

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-hyeQuestionInquirerId-id") })
                        .done(function () {
                            button.text("Friends");
                        })
                        .fail(function () {
                            alert("Oops! Your friend request was unsuccessful.");
                        });
                    });
        });
    </script>
}
