@{
    ViewBag.Title = "Profile";
}

<div class="profileContainer">
<h1>Your Profile</h1>

    <p>
        @ViewBag.DisplayName's Profile
    </p>
    <p>
        Email = @ViewBag.Email
    </p>
    <p>
        Gender = @ViewBag.Gender
    </p>
    <p>
        Birthday = @ViewBag.Birthday
    </p>
    <p>
        Followers = @ViewBag.Followers
    </p>
    <p>
        Followees = @ViewBag.Followees
    </p>

    
    <p>@Html.ActionLink("Who I'm Following", "ViewFollowees", "Home")</p>
    <p>@Html.ActionLink("My Followers", "ViewFollwers", "Home")</p>
    
</div>
