@model HYE_SocialNetwork.ViewModels.ProfileViewModel

<h2> Profile</h2>

<div class="row heightController">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Asked</div>
            <div class="panel-body">
                @foreach (var hyeQuestion in Model.MyQuestions)
                {
                    <div class="qContainer">
                        <ul class="questions">
                            <li>
                                <div class="details">
                                    <span class="inquirer">
                                        @hyeQuestion.DateTime.ToShortDateString() at @hyeQuestion.DateTime.ToShortTimeString()
                                    </span>
                                    <span class="detailsContent">
                                        @hyeQuestion.Question
                                    </span>
                                    <br /><br />
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Answered</div>
            <div class="panel-body">
                @foreach (var hyeQuestion in Model.MyQuestions)
                {
                    <div class="qContainer">
                        <ul class="questions">
                            <li>
                                <div class="details">
                                    <span class="inquirer">
                                        @hyeQuestion.DateTime.ToShortDateString() at @hyeQuestion.DateTime.ToShortTimeString()
                                    </span>
                                    <span class="detailsContent">
                                        @hyeQuestion.Question
                                    </span>
                                    <br /><br />

                                    <hr />
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Followed By</div>
            <div class="panel-body">
                @foreach (var follower in Model.MyFollowers)
                {
                    <div class="qContainer">
                        <ul class="questions">
                            <li>
                                <div class="details">
                                    <span class="inquirer">
                                        @follower.DisplayName
                                    </span>
                                    <br /><br />

                                    <hr />
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Following</div>
            <div class="panel-body">
                @foreach (var followee in Model.MyFollowees)
                {
                    <div class="qContainer">
                        <ul class="questions">
                            <li>
                                <div class="details">
                                    <span class="inquirer">
                                        @followee.DisplayName
                                    </span>
                                    <br /><br />

                                    <hr />
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

</div>



