@using OnlineStore.Controllers
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Subtotal
        </th>
        <th></th>
    </tr>

    @foreach (var item in (List<Item>)Session["cart"])
    {
        <tr>
           <td>@item.Product.ProductId</td>
            <td>@item.Product.Name</td>
            <td>@item.Product.Price</td>
            <td>@item.Product.Quantity</td>
            <td>@(item.Product.Price * item.Quantity)</td>
        </tr>
    }

</table>
